
.fut-logo{
    width: 5rem;
}

.btn{
    padding: 0px 12px;
}
h1{
    color: gold;
}
.bg-text p{
    font-size: 60px;
    color: black;
    text-shadow: 2px 2px 2px;
    font-weight: 900;
}
.p-div b{
    color: gold;
    font-size: 20px;
}
.p-div{
    padding: 50px 1rem 40px 0;
}
.bg-text{
    display: flex;
    margin: 20px 4rem;
    justify-content: center;
}
.bg-text img{
    width: 100%;
    object-fit: contain;
    animation-name: animation;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    transition: 10s ease-in-out;
}
.text2 button{
    color: gold;
}
.text2{
    font-size: 21px;
    padding: 2rem 4rem;
    }
.services{
    display: flex;
    margin: 4rem;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}
.card img{
    width: 100%;
}
.services-img{
    width: 5rem;
    border-radius: 50%;
}
.about{
    display: flex;
    margin: 65px 5rem;
    justify-content: center;
    background-color: whitesmoke;
}
.about p{
    padding: 20px;
    /* text-shadow: 2px 2px 6px; */
    font-size: 40px;
    font-weight: 900;
}
.about :nth-child(2){
    font-size: large;
    display: flex;
    justify-content: center;
    width: 90%;
    align-items: center;
    /* box-shadow: 0px 0px 10px #000; */
}
.newsletter{
    display: flex;
    justify-content: center;
    background-color: black;
    text-align: center;
    align-items: center;
    margin: 7rem 5rem;
    height: 12rem;
    /* padding: 50px 30px; */
    background-color: rebeccapurple !important;
    color: white;
}
.newsletter input{
    width: 80%;
}
footer{
    background-color: whitesmoke;
}
.footer{
    display: flex;
    justify-content: space-between;
    padding: 2rem 4rem;
}
.footer-left{
    text-align: center;
}
.footer-left img{
    width: 8rem;
}
.footer-right{
    display: flex;
    gap: 2rem;
    align-items: center;
}












@keyframes animation{
    0%{transform: translateX(0);}
    50%{transform: translateX(7%);}
    100%{transform: translateX(0);}
}



@media(max-width:920px){

    .register-btn{
        margin-top: 10px;
    }
    .bg-text p{
        font-size: 35px;
        font-weight: 900;
        flex-wrap: wrap;
    }
    .p-div b{
        color: gold;
        font-size: 17px;
    }
    .p-div{
        padding: 4px 1rem 5px 0;
    }
    .p-div p{
        padding: 4px 1rem 5px 0;
    }
    .bg-text{
        flex-wrap: wrap;
        margin: 20px 30px;
    }
    .about{
        flex-wrap: wrap;
        margin: 40px 2rem;
    }
    .about p{
        padding: 10px;
        /* text-shadow: 2px 2px 6px; */
        font-size: 35px;
        font-weight: 900;
    }
    .services{
        flex-wrap: wrap;
        margin: 2rem;
    }
    .card img{
        width: 100%;
    }
    .footer,.footer-right{
        flex-wrap: wrap;
    }
    .text2{
        font-size: 17px;
        padding: 3rem;
        }
    .newsletter{
        display: flex;
        margin: 1rem;
        height: 12rem;
    }
    .newsletter input{
        width: 90%;
    }
    .footer{
        justify-content: center;
    }
    .footer-right{
        gap: 2rem;
    }
    .services .card{
        width: 100%;
    }    
}